@use "./themes/index" as *;
@use "./components/index" as *;
@use "./base/index" as reset;
@use "./layout/index" as *;
@use "./pages/index" as *;

* {
  font-family: $font-primary;
}
body {
  background-color: white;
}
html {
  zoom: 100%;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

/*more button*/

.more-sec {
  margin-top: $space-60;
  display: flex;
  justify-content: center;
}

/*end */
