@use "../themes/index" as *;
@use "../abstracts/index" as *;

.banner {
  background: $color-bg-secondary;
  height: 85vh;

  .banner-wrapper {
    height: 85vh;

    padding: 0 $space-32;
    margin: 0 auto;
    max-width: $container;
    display: flex;
    gap: $space-80; // space between the two children
    justify-content: space-between;

    // Each child takes equal space
    > * {
      flex: 1;
    }

    /* ========================
       Image side
       ======================== */
    .banner-img-side {
      display: flex;
      align-items: center;
      justify-content: center;

      .img-warrper {
        position: relative; // parent for pseudo-elements

        .imgtxt {
          position: absolute;
          bottom: $space-60;
          left: 32px;
          z-index: 200;
          color: white;
          h2 {
            font-size: $font24;
            font-weight: bold;
            margin-bottom: $space-16;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
              font-size: 13px;
              display: flex;
              align-items: center;
              gap: $space-8;
              i {
                background: rgba(255, 255, 255, 0.7019607843);
                color: black;
                font-size: 12px;
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                -webkit-border-radius: 100px;
              }
            }
          }
        }

        // Blue square behind image
        &::before {
          content: "";
          content: "";
          position: absolute;
          top: -25px;
          right: -32px;
          width: 69px;
          height: 51px;
          background-image: url(../img/dots-pattern.svg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          z-index: 1;
        }

        // Dots pattern above blue square
        &::after {
          content: "";
          position: absolute;
          bottom: -24px;
          left: -33px;
          width: 65px;
          height: 50px;
          background-image: url(../img/dots-pattern.svg);
          background-size: cover;
          z-index: 2;
        }

        img {
          max-width: 100%;
          height: auto;
          object-fit: contain;
          display: block;
          position: relative; // above pseudo-elements
          z-index: 3;
        }
      }
    }

    /* ========================
       Text side
       ======================== */
    .banner-text-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $space-16;

      h1 {
        font-size: $font48;
        font-weight: bold;

        span {
          color: $color-primary;
        }
      }

      p {
        color: $color-text;
        font-size: $font16;
      }

      .banner-btns {
        margin-top: $space-32;
        display: flex;
        gap: $space-28;

        .btn {
          display: flex;
          align-items: center;
        }

        .btn-white {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.video-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.329);
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  #close-video-btn {
    position: absolute;
    top: 0px;
    color: white;
    background: $color-heading;
    padding: 14px;
    width: 50px;
    height: 50px;
    display: flex;
    right: -51px;
    justify-content: center;
    color: white;
    font-size: $font24;
    align-items: center;
  }
  .video-warapper {
    background: white;
    width: 800px;
    position: relative;
    #myVideo {
      width: 100%;

      max-width: 100%;
    }
  }
}
.showvideo {
  display: flex;
}
