@use "../themes/theme" as *;
@use "../components/buttons" as *;

.footer {
  background-color: $color-dark-bg;
  padding: 0 $space-20;
  padding-top: $space-80;
  color: white;
  position: relative;

  .footer-con {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: $space-40;
    .logo-column {
      padding: 0 $space-20;
    }
  }

  .footer-column {
    // Apply only to the first h2/h3 in each column
    h2:first-of-type,
    h3:first-of-type {
      font-size: $font24;
      font-weight: bold;
      padding-bottom: $space-16;
      margin-bottom: $space-16;
    }

    // Apply style to all text inside paragraphs
    p,
    ul {
      color: $color-gray;
      line-height: 1.6;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: $space-16;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    margin-top: $space-120;
    padding: $space-20;
    color: $color-gray;
    border-top: 1px solid #2d2843;
    font-size: $font12;
    text-align: center;
  }
}
