@use "../themes/index" as *;
@use "../components/index" as *;

header {
  box-shadow: $shadow-sm;
  width: 100%;
  position: relative;

  nav {
    min-height: 80px;
    display: flex;
    position: relative;
    max-width: $container;
    margin: 0 auto;
    padding: 0 $space-24;
    justify-content: space-between;
    align-items: center;

    .left-nav {
      display: flex;
      gap: $space-100;
      align-items: center;
    }

    .logo {
      h1 {
        font-size: $font22;
        font-weight: bold;
        color: $color-heading;

        span {
          color: $color-primary;
        }
      }
    }

    .nav-items {
      display: flex;
      flex-wrap: wrap;
      gap: $space-32;
      align-items: center;
      font-size: $font14;

      .login-btn {
        display: none;
      }

      li {
        a {
          color: $color-text;
          transition: color 0.2s ease;
          -webkit-transition: color 0.2s ease;
          -moz-transition: color 0.2s ease;
          -ms-transition: color 0.2s ease;
          -o-transition: color 0.2s ease;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }

    .authentication {
      display: flex;
      align-items: center;
      gap: $space-32;

      .search-btn {
        padding: 6px 12px;
        cursor: pointer;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;

        &:hover {
          background-color: $color-bg-light-gray;
        }
      }

      button {
        cursor: pointer;
      }
    }
  }
}

/* =========================
   Search Bar
   ========================= */
.search-bar {
  background: white;
  box-shadow: $shadow-sm;

  color: #666;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -webkit-transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
  -moz-transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
  -ms-transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
  -o-transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;

  form {
    max-width: $container;
    margin: 0 auto;
    position: relative;
  }

  input {
    width: 100%;
    padding: 20px;
  }

  .search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-heading;
    cursor: pointer;
    width: 83px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  z-index: 100;
}

.showbar {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/* End of search bar */
