@use "../themes/index" as *;
@use "../abstracts/index" as *;
@use "../components/index" as *;

/*bootcamp */
.bootcamp {
  background-color: $color-bg--Tertiary;
  min-height: 100vh;
  padding: $space-100 0;
  @include heading-center;
  .course-card-group {
    margin-top: $space-40;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: $space-20;
    flex-wrap: wrap;
    .course-card {
      @include course-card;
    }
  }
}

/*end of bootcamp*/

/*choose us section */
.choose-us {
  min-height: 80vh;
  padding: $space-100 0;
  .choose-wrapper {
    display: flex;
    gap: $space-60;
    .choose-img-side {
      position: relative;
      .img-wrapper {
        padding: $space-20;
      }

      .fly-small-card {
        background: white;
        padding: $space-20;
        position: absolute;
        bottom: -24px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        gap: $space-8;
        box-shadow: $shadow-md;
        width: 75%;
        font-size: $font14;
        color: $color-text;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
    }
    .choose-text-side {
      @include heading-left;
      ul {
        display: flex;
        flex-direction: column;
        gap: $space-32;
        margin-top: $space-40;

        li {
          font-size: 17px;
          color: $color-text;
          display: flex;
          align-items: center;
          gap: $space-12;
          flex-wrap: wrap;
        }
        .tick-text {
          background-color: $color-heading;
          color: white !important;
          font-size: 14px;
          display: inline-block;
          padding: 2px 7px;
          width: 24px;
          height: 24px;
          border-radius: 200px;
          -webkit-border-radius: 200px;
          border-radius: 200px;
          -webkit-border-radius: 200px;
          -moz-border-radius: 200px;
          -ms-border-radius: 200px;
          -o-border-radius: 200px;
        }
      }
      .btn {
        margin-top: $space-40;
        display: inline-block;
      }
    }
  }
}

/*end od choose us*/

/* highlights section */
.highlights {
  padding-top: $space-60;
  padding-bottom: $space-60;
  background-color: $color-primary;
  .highlights-con {
    display: flex;
    justify-content: space-between;
    padding: $space-40;
    .heading-highlights {
      flex: 0 0 400px;
      display: flex;
      align-items: center;
      h2 {
        font-size: $font32;
        color: white;
        font-weight: bold;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 200px;
          height: 2px;
          background-color: white;
          top: 20px;
          left: -220px;
        }
      }
    }
    .numbers {
      flex: 1;
      display: flex;
      gap: $space-120;
      justify-content: end;
      .number-block {
        display: flex;
        flex-direction: column;
        gap: $space-8;
        align-items: center;
        h2 {
          font-size: $font32;
          color: white;
          font-weight: bold;
        }
        p {
          color: white;
          font-size: $font16;
        }
      }
    }
  }
}

/*end of highlights*/
