@use "../themes/theme" as *;

/* Breakpoints */
$breakpoint-xs: 0px; // XS
$breakpoint-sm: 480px; // SM
$breakpoint-md: 768px; // MD - Tablets
$breakpoint-lg: 1024px; // LG - Laptops/Desktop
$breakpoint-xl: 1200px; // XL - Large Desktop
$breakpoint-xxl: 1600px; // XXL - Very Large Screens

/* Media Queries */

/* XXL - ≤1600px */
@media (max-width: $breakpoint-xxl) {
  body {
    font-size: 20px;
  }
}

/* XL - ≤1200px */
@media (max-width: $breakpoint-xl) {
  body {
    font-size: 18px;
  }
}

/* LG - ≤1024px */
@media (max-width: $breakpoint-lg) {
  body {
    font-size: 17px;
  }

  #banner {
    background: $color-bg-secondary;
    height: 90vh;

    .banner-wrapper {
      height: 90vh;
      padding: $space-60;
    }
  }
}

/* MD - ≤768px */
@media (max-width: $breakpoint-md) {
  /* nav menu */
  .authentication .btn-burger-menu {
    display: flex;
    flex-direction: column;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    font-size: 14px;
    position: absolute;
    top: -273px; // default before click
    right: 0;
    width: 100%;
    align-items: center;
    background: $color-primary;
    z-index: 300;
    padding: $space-32 $space-40;

    opacity: 0; // hidden initially
    pointer-events: none; // not clickable
    transition:
      top 0.5s ease,
      opacity 0.3s ease; // smooth transition
    .login-btn {
      display: block !important;
    }

    li {
      width: 100%;
      text-align: center;
      .btn-white {
        width: 100%;
      }
      a {
        color: white !important;
        width: 100%;
      }
    }
  }

  .pull-menu {
    top: 83px; // final position after click
    opacity: 1; // visible
    pointer-events: auto; // clickable
  }

  .authentication {
    .search-btn,
    .btn-sm {
      display: none;
    }
  }

  /*end of nav */

  #banner {
    height: auto;

    .banner-wrapper {
      height: auto;
      flex-wrap: wrap;
      gap: $space-40;

      .banner-text-side {
        order: 2;
        justify-content: center;
        text-align: center;

        .banner-btns {
          > * {
            flex: 1;
            justify-content: center;
          }
        }
      }

      > * {
        flex: 100%;
      }
    }
  }

  #bootcamp .course-card-group {
    grid-template-columns: repeat(2, 1fr);
  }

  #choose-us {
    .choose-img-side {
      display: none;
    }
    .choose-text-side {
      padding: 0 $space-40;
    }
  }
}

/* SM - ≤480px */
@media (max-width: $breakpoint-sm) {
  body {
    font-size: 15px;
  }
  #banner {
    .banner-text-side {
      h1 {
        font-size: $font40;
      }
      .banner-btns {
        flex-direction: column;
        gap: $space-12;
      }
    }
  }
  #bootcamp .course-card-group {
    grid-template-columns: 1fr;
  }
  #banner .imgtxt {
    bottom: 20px;
    left: $space-16;
    h2 {
      font-size: $font18;
    }
    li {
      font-size: 11px;
      i {
        width: 14px;
        height: 14px;
      }
    }
  }
  #choose-us {
    .choose-text-side {
      .btn {
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* XS - default */
body {
  font-size: 14px;
}
