@use "../themes/theme" as *;

@mixin button($padding-x, $padding-y) {
  padding: $padding-x $padding-y;
  color: white;
  background-color: $color-primary;
  border: none;
  font-size: $font14;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: darken($color-primary, 8%);
  }
}

@mixin heading-section($align) {
  text-align: $align;

  p {
    color: $color-heading;
    text-transform: capitalize;
    font-size: $font16;
    font-weight: 600;
    margin-bottom: $space-12;
  }

  h2 {
    font-size: $font40;
    color: $color-heading;
    font-weight: bold;
    span {
      color: $color-primary;
    }
  }
}

@mixin heading-center {
  @include heading-section(center);
}

@mixin heading-left {
  @include heading-section(left);
}

@mixin banner-dot($side) {
  content: "";
  width: 65px;
  height: 65px;
  position: absolute;
  background-image: url(../img/dots-pattern.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  @if $side == left {
    left: 0;
  } @else if $side == right {
    right: 0;
  }
}
