@use "../themes/theme" as *;

@mixin button($padding-x, $padding-y) {
  padding: $padding-x $padding-y;
  color: white;
  background-color: $color-primary;
  border: none;
  font-size: $font14;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: darken($color-primary, 8%);
  }
}

@mixin heading-section($align) {
  text-align: $align;

  p {
    color: $color-heading;
    text-transform: capitalize;
    font-size: $font16;
    font-weight: 600;
    margin-bottom: $space-12;
  }

  h2 {
    font-size: $font40;
    color: $color-heading;
    font-weight: bold;
    span {
      color: $color-primary;
    }
  }
}

@mixin heading-center {
  @include heading-section(center);
}

@mixin heading-left {
  @include heading-section(left);
}
